@import '../../styles/core-styles.css';

:root {
  /* use multiple from spacer */
  --viewIcon: 20px;
  --sideBarHeight: 60px;
  --sideBarWidth: 30px;
  --titleNavBarGap: 150px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: var(--SpaceX);
  gap: var(--spacerS);
}

.sidebar {
  display: flex;
  height: var(--sideBarHeight);
 /* use multiple from spacer */
  width: var(----sideBarWidth);
  gap: var(--spacerS);
  align-items: center;
  flex-direction: column;
  font-size: var(--fontSizeS);
  font-family: var(--fontFamily1);
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily1);
  overflow: auto;
}

.galleryGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacer);
}

.item {
  height: auto;
  max-width: 100%;
  margin-bottom: var(--spacer);
}

.item2 {
  max-height: 600px;
  max-width: 200px;
  width: fit-content;
  margin-bottom: var(--spacer);
}

.icon {
  width: var(--viewIcon);
  height: var(--viewIcon);
}

.icon:hover {
  cursor: pointer;
}