@import '../../styles/core-styles.css';

:root {
  --titleNavBarGap: 150px;
}

.header{
  width: 100%;
  display: flex;
  padding: var(--spacerXXS);
  gap: var(--titleNavBarGap);
  align-items: center;
  flex-direction: row;
}
