@import '../../styles/core-styles.css';

.header{
  display: grid;
  grid-template-areas:
            "a b"
            "a c"
            "a c";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 4fr;
  gap: var(--spacerL);
  align-items: center;
  flex-direction: row;
}
