@import '../../styles/core-styles.css';

:root {
  /* use multiple from spacer */
  --navBarWidth: 400px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: var(--spacerXXL);
  width: var(--navBarWidth);
  padding: var(--spacerS);
  font-family: var(--fontFamily1);
}

.navBarItem {
  list-style: none;
}