@import '../../styles/core-styles.css';

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--spacer);
  font-family: var(--fontFamily1);
}

.navBarItem {
  display: flex;
  width: inherit;
  justify-content: space-between;
  list-style: none;
}