@import '../../styles/core-styles.css';

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgray;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--spacer);
  font-family: var(--fontFamily1);
  gap: var(--spacerXL);
}

.navBarItem {
  display: flex;
  width: inherit;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}

.title{
  font-size: var(--fontSizeL);
  font-weight: var(--fontWeight4);
}