@import '../../styles/core-styles.css';

.title > a{
  width: fit-content;
  padding: var(--spacerS);
  font-size: var(--fontSizeL);
  font-weight: var(--fontWeight4);
  font-family: var(--fontFamilyMono1);
}