@import '../../styles/core-styles.css';

.title {
  width: fit-content;
  padding: var(--spacerS);
  font-size: var(--fontSizeL);
  font-weight: var(--fontWeight4);
  font-family: var(--fontFamily1);
}